<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/montreal" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
	<div class="admin_nav_profile" th:fragment="adminheader">
            <div class="search">
                <iconify-icon icon="ion:search" style="color: black;transition: color 1s;" width="35" height="35" onmouseover="this.style.color='#C11119'" onmouseout="this.style.color='black'"></iconify-icon>
            </div> 
            <div class="profile_icon" id="profileIcon">
			    <div class="icon-container">
			        <iconify-icon class="iconify-person" icon="mdi:user-outline" style="color: black;transition: color 1s;" width="40" height="40" onmouseover="this.style.color='#C11119'" onmouseout="this.style.color='black'"></iconify-icon>
			        <ul class="dropdown" sec:authorize="hasAuthority('ADMIN')">
			            <li><a href="#">Profile</a></li>
			            <li><form th:action="@{/logout}" method="post">
							<button type="submit">Logout</button>
						</form></li>
			        </ul>
			    </div>
			</div>
        </div>
         <script>
		document.addEventListener('click', function (event) {
		    var profileIcon = document.getElementById('profileIcon');
		    var dropdown = profileIcon.querySelector('.dropdown');
		
		    if (!profileIcon.contains(event.target)) {
		        dropdown.style.visibility = 'hidden';
		    }
		});
		
		// Prevent default click action on the icon
		var iconContainer = document.querySelector('.icon-container');
		iconContainer.addEventListener('click', function (event) {
		    event.preventDefault();
		});
 </script>  
</body>
</html>