<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/montreal" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-nav">
        <div class="footer-logo">
            <div >
                <iconify-icon  class="logo-log" icon="ri:movie-2-line"  width="30" height="30"></iconify-icon>
            </div>
            <div class="logo_content">
                <a href="./home.html">Anmte</a>
            </div>
        </div>
    </div>
    <div class="footer-body">
        <div class="footer-description">
            <h2>Buy anime tickets easily with Anmte system inside the country, Nepal. You can also watch the anime videos here. <br><br> So, Support our webiste. You can contact us from the below mail.  </h2>
            <div class="footer-description-email">
                <p>Email: <span>anmte23@email.com</span>
                    <div class="message"> <a href="mailto:anmte23@gmail.com">Send Email</a></div>
                    </p>
            </div>
        </div>
        <div class="footer-category">
            <div class="footer-category-head">
                <h3>Event</h3>               
            </div>
            <div class="footer-category-body">
                <ul>
                    <li><a href="#current-event">Current Event</a></li>
                    <li><a href="#trending-event">Trending Event</a></li>
                </ul>
            </div>  
         </div> 
         <div class="footer-category">
            <div class="footer-category-head">
                <h3>Anime</h3>               
            </div>
            <div class="footer-category-body">
                <ul>
                    <li><a href="#current-event">Current Anime</a></li>
                    <li><a href="#trending-event">Trending Anime</a></li>
                </ul>
            </div>  
         </div> 
        <div class="footer-category">
            <div class="footer-category-head">
                <h3>Anime Category</h3>               
            </div>
            <div class="footer-category-body">
                <ul>
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventures</a></li>
                    <li><a href="">Isekai</a></li>
                    <li><a href="">Magic</a></li>
                    <li><a href="">Romance</a></li>
                    <li><a href="">Sword</a></li>
                </ul>
            </div>           
        </div>
        <div class="footer-icon">
            <h3>Social Links</h3>
            <ul>
                <li><a href="#"><iconify-icon icon="formkit:facebook"></iconify-icon></a></li>
                <li><a href="#"><iconify-icon icon="fa6-brands:instagram"></iconify-icon></a></li>
                <li><a href="#"><iconify-icon icon="devicon-plain:linkedin"></iconify-icon></a></li>
            </ul>
            </div>
    </div>
    <div class="footer-copyright">
            <h3>@CopyRight 2023 By Anmte</h3>
    </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    let currentIndex = 0;
    const slides = document.querySelectorAll(".user-content-body");
    
    function showSlide(index) {
        slides.forEach((slide) => {
            slide.style.display = "none";
        });

        slides[index].style.display = "block";
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % slides.length;
        showSlide(currentIndex);
    }

    function startSlideshow() {
        setInterval(nextSlide, 10000); 
    }


    showSlide(currentIndex);
    startSlideshow();
});

</script>        
</body>
</html>