*{
    margin: 0;  
    padding: 0;
    box-sizing: none;
}

:root{
    --primary-color: #000000;
    --secondary-color: #C11119;
    --font-color: #ffffff;
    --secondary-font-color:#111111;
    --body-color: #EDEBEB;
    --sub-heading-color: #2B3378;
    --other: #D9D9D9;
}

/* 
<style th:inline="text">
    body{
        background: url{[[@{/img/Background.jpg}]]}
                    no-repeat center center fixed;
    }
</style> */



body{
    background-color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.event_section {
    width:100%;
    margin:0 auto;
}
body a{
    color: var(--font-color);
    font-size: 18px;
    text-decoration: none;
}
.user_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height:50px;
    background-color: var(--primary-color);
    padding: 10px;
    letter-spacing: 1px;
}

.user_navbar .logo{
    display: flex;
    flex-direction: row; 
    margin-left: 30px;  
    align-items: center;
}

.user_navbar .logo .logo_log {
    color: #fc0000;
}

.logo_content a{
    font-size: 29px;
    padding-left: 1px;
    letter-spacing: normal;
    font-family: 'Montreal', sans-serif; 
}


#home_page {
    height: 91vh;
    background-position: center;
    background-size: cover;
}
.event-show-content-div {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.event-show-content-div button {
	height: 41px;
    width: 139px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

.event-show-content-div button:hover{
	background-color: var(--font-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-out;
}

.user_content ul {
    display: flex;
    flex-direction: row;
}

.user_content ul li{
    text-decoration: none;
    padding: 14px;
    margin: 0 28px;  
}

.user_content ul li a{
    font-size:19px;
}

.user_nav_profile {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}
.search {
    padding-right: 25px;
    padding-top: 10px;
}
.profile_icon {
    padding-top: 6px;
}

.user-container {
    display: flex;
    flex-direction: column;
    height: 91vh;
}

.user-content-body{
    height: 91vh;
    display: none;
    background-position: center;
 	background-size: cover;
}

.user-content-body-top {
  margin: 50px;
  margin-left: 50px;
  letter-spacing: 1.5px;
  margin-left: 75%;
  width: 250px;
  flex-grow: 1;
  padding: 5px;
  background: var(--primary-color);
  border-radius: 10px;
  text-align: center;
}

.user-content-body-top h2 {
    padding: 5px 0;
    color: var(--font-color);
}

.user-content-body-down {
    flex-grow: 1;
}

.content-details-div {
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  padding: 7px 7px 21px 29px;
  letter-spacing: 1px;
  background: var(--primary-color);
  width: 303px;
  border-radius: 10px;
  opacity: 100%;
  position: absolute;
  top: 66%;
}



.content-details-div h2, h3 {
    padding: 5px 0;
    color: var(--font-color);
}

.content-details-div button {
    height: 41px;
    width: 139px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
}


.content-details-div button:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-out;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


#current-event {
    min-height: 600px;
    background-color: var(--font-color);
}

.current-event-container {
    display: flex;
    flex-direction: column;
}

.current-event-heading {
    margin-top: 75px;
    text-align: center;
    font-size: 22px;
}

.current-event-card {
    padding: 0 81px;
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.card {
    border-radius:10px;
    width: 300px;
    height: 362px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 11px 0;
    background-position: center;
  	background-size: cover;
}

.card-contents {
    margin-top: 230px;
}

.card-contents-head {
  	padding-left: 10px;
  	display: flex;
  	flex-direction: column;
  	padding-top: 3px;
  	height: 76px;
}

.card-contents-head h5 {
    padding: 10px 0px 5px 0;
}

.card-contents-head h4 {
    padding-top: 1px;
    font-size: 16px;
}

.card-contents-button button {
    width: 120px;
    height: 33px;
    border: none;
    background: var(--secondary-color);
    color: var(--font-color);
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 7px;
    font-size: 17px;
}

.card-contents-button button:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-out;
}

.card-contents {
    margin-top: 232px;
    background: var(--body-color);
    height: 130px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#trending-event {
    background-color: var(--other);
}

footer{
    background-color: var(--primary-color);
    color: var(--font-color);
}

footer .footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height:50px;
    background-color: var(--primary-color);
    padding: 10px;
    letter-spacing: 1px;
}

.footer-logo{
    display: flex;
    flex-direction: row; 
    margin-left: 56px;  
    align-items: center;
    padding-top: 23px;
}

.footer-logo .logo-log{
    color: #fc0000;
}

footer .logo_content a{
    font-size: 20px;
    padding-left: 1px;
    letter-spacing: normal;
    font-family: 'Montreal', sans-serif; 
}

.footer-icon ul {
    display: flex;
    flex-direction: row;
    margin-right: 35px;
}

.footer-icon ul li {
  text-decoration: none;
  list-style: none;
  padding: 14px 10px;
}

.footer-icon ul li a {
    font-size: 24px;
}

.footer-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
}

.footer-description {
    margin-left: 69px;
    width: 400px;
    position: relative; 
}

.footer-description h2 {
    padding-bottom: 21px;
    font-size: 17px;
}

.footer-description p{
    font-size:16px;
}

.footer-description p span{
    font-style: italic;
    font-size: 16px;
    text-decoration: underline;
    color:#2B3378;
    cursor: pointer;
}

.message {
    position: absolute;
    left: 59%; 
    bottom: 5%; 
    transform: translateX(-50%, 0); 
    width: 143px;
    background: var(--secondary-font-color);
    color: var(--font-color);
    height: 49px;
    text-align: center;
    padding-top: 26px;
    visibility: hidden;
    z-index: 1000; 
}

.message a{
    text-decoration: underline;
}

.footer-description-email:hover .message {
    opacity: 70%;
    visibility: visible;
}

.footer-description p span:hover {
    font-size: 17px;
    padding-left: 10px;
    transition: 0.5s ease-out;
}



.footer-category {
    width: 180px;
    text-align: left;
}

.footer-category h3 {
    font-size: 17px;
}

.footer-category-body ul li {
    list-style: none;
    text-align: left;
    padding: 5px 0;
}

.footer-icon {
    margin-right: 69px;
}

.footer-icon ul li a:hover{
    color: #C11119;
    font-size: 30px;
    transition: 0.5s ease-out;
}

.footer-icon h3 {
    font-size: 17px;
    padding-left: 15px;
}

.footer-category-body ul li a {
    font-size: 15px;
}

.footer-category-body ul li a:hover {
    text-decoration: underline;
    padding-left: 20px;
    transition: 0.5s ease-in;
}

.footer-copyright {
    padding: 15px;
    text-align: center;
    background: var(--secondary-font-color);
    font-size: 14px;
}



#event_show {
  background: var(--primary-color);
  width: 100%;
  height: 75vh;
  color: var(--font-color);
  background-position: center;
  background-size: cover;
}



.event-show-content {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 418px;
    padding-top: 240px;
    padding-left: 578px;
}

.just-div {
    height: 120px;
    background-color: var(--primary-color);
    width: 25rem;
    opacity: 90%;
    border-radius: 10px;
}

.event-show-content-h2 {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 38%;
}

.event-show-content-h2 h3 {
  font-size: 16px;
  padding: 11px;
  color: var(--secondary-color);
  letter-spacing: 1px;
}


.booking-body-top-content span {
  color: var(--sub-heading-color);
  font-style: italic;
}


#event-booking {
    min-height: 100vh;
    color: var(--secondary-font-color);
}

.booking-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 720px;
    padding-bottom: 64px;
}

.booking-heading {
    text-align: center;
    padding-top: 55px;
    letter-spacing: 1px;
    font-size: 22px;
}

.booking-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
}

.booking-body-image {
    height: 545px;
    background: var(--body-color);
    width: 500px;
    border-radius: 10px;
    margin-left: 171px;
    background-position: center;
    background-size: cover;
}


.booking-body-content{
    margin-right: 11rem;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.booking-body-top-content h3 {
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--secondary-font-color);
}

.booking-body-top-content p {
    padding: 10px 0;
}

.booking-body-bottom-content {
    padding-top: 10px;
  }

#tickets {
    margin: 20px 0 10px 0;
    height: 24px;
    width: 250px;
    text-align: center;
}

.booking-body-bottom-content form button{
    height: 41px;
    width: 139px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
}


.booking-body-bottom-content form button:hover{
    background-color: var(--font-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-out;
}


.content-details-tailer {
    display: flex;
    flex-direction: column;
    padding: 7px 7px 21px 29px;
    letter-spacing: 1px;
    background: var(--primary-color);
    width: 450px;
    height: 200px;
    opacity: 100%;
    position: absolute;
    top: 66%;
    left: 65%;
    border-radius: 10px;
    color:var(--font-color)
}

.content-details-trailer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content-details-image {
    height: 150px;
    width: 200px;
    margin-top: 10px;
    border: 2px solid var(--font-color);
    border-radius: 10px;
    margin-right: 25px;
    background-position: center;
    background-size: cover;
}


#anime_show {
    background: var(--primary-color);
    width: 100%;
    min-height: 81vh;
    color: var(--font-color);
    background-position: center;
    background-size:cover;
}

 #anime_show .video {
  height: 81vh;
  width: 100%;
  padding: 10px;
}
.watch-video-div {
    display: flex;
    flex-direction: column;
}

.anime-head-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 69px;
    padding-bottom: 20px;
}

.anime-head-title-heading {
    margin-left: 169px;
    display: flex;
    flex-direction: column;
    width: 79%;
	letter-spacing: 1.5px;
}

.anime-head-title-heading h2 {
    font-size: 25px;
}

.anime-head-title-heading h3 {
    font-size: 16px;
    color: var(--secondary-font-color);
}

.anime-head-button button{
    height: 41px;
    width: 139px;
    margin-top: 8px;
    font-size: 18px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
}

.anime-head-button button:hover{
    background-color: var(--font-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-out;
}

.anime-head-button {
    margin-right: 169px;
}

.anime-body-image-trailer {
    height: 580px;
    width: 79%;
    margin-left: 164px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anime-body-image {
    height: 530px;
    width: 500px;
    background: black;
    border-radius: 10px;
    background-position: center;
  	background-size: cover;
}

.anime-body-trailer video {
    height: 530px;
    width: 690px;
    background: black;
    border-radius: 10px;
}
