<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/montreal" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
<header th:replace="Fragment/header :: header">
</header>
 <div class="booking-heading">
    <h2>Forgot Password</h2>
</div>

<div th:if="${error != null}" class="messsage_div">
    [[${error}]]
</div>
<div th:if="${message != null}" class="messsage_div">
    [[${message}]]
</div>
<div class="login_form_div">         
<form th:action="@{/forgot_password}" method="post">

    <div class="messsage_div_reset">
        We will be sending a reset password link to your email.
    </div>
    
    <div class="form_div">
          <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
    </div>      
    <div class="login-button_reset">
            <button type="submit">Send</button>
      </div>
	<a th:href="@{/login}" style="color: black" class="goback_login">
		<div class="goback_icon">
			<iconify-icon icon="gravity-ui:arrow-left" width="16" height="16" style="color: white;"  ></iconify-icon>
			</div>
			<div>
				<p>Go Back</p> 
			</div>
		</a>
</div>
</form>
</div>
<footer th:replace="Fragment/footer :: footer">
</footer>
<script>
	document.addEventListener('DOMContentLoaded', function () {
    var profileIcon = document.getElementById('profileIcon');
    var iconContainer = document.querySelector('.icon-container');
    var searchIcon = document.getElementById('searchIcon');
    var crossIcon = document.getElementById('crossIcon');
    var searchContainer = document.querySelector('.srch');

    document.addEventListener('click', function (event) {
        var dropdown = profileIcon.querySelector('.dropdown');

        if (!profileIcon.contains(event.target)) {
            dropdown.style.visibility = 'hidden';
        } else {
            dropdown.style.visibility = (dropdown.style.visibility === 'visible') ? 'hidden' : 'visible';
        }
    });

    // Prevent default click action on the icon
    iconContainer.addEventListener('click', function (event) {
        event.preventDefault();
    });

    function toggleSearch() {
        if (searchContainer.classList.contains('active')) {
            searchContainer.classList.remove('active');
            setTimeout(function () {
                searchContainer.style.zIndex = '-1';
            });
        } else {
            searchContainer.style.zIndex = '1';
            setTimeout(function () {
                searchContainer.classList.add('active');
            });
        }
    }

    searchIcon.addEventListener('click', toggleSearch);
    crossIcon.addEventListener('click', toggleSearch);
});

</script>     
</body>
</html>