<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/montreal" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
<header th:replace="Fragment/header :: header">
</header>
 <div th:if="${param.error}">
    <div class="alert alert-danger">Invalid Email or Password</div>
</div>
<div th:if="${param.logout}">
    <div class="alert alert-success"> You have been logged out.</div>
</div>
 <div>
	 <form th:action="@{/login}" role="form"  method="post" >
	  <div class="form_div">
		 <label>Email</label>
	 	<input type="text" name="username"  placeholder="xyz@gmail.com"/>
	  </div>
	  <div class="form_div">
		 <label>Password</label>
	 	<input type="text" name="password"  placeholder="Enter your password"/>
	  </div>

	  <div>
		  <button type="submit">Login</button>
		   <span> Not registered ?
	            <a th:href="@{/register}">Register/Signup here</a>
	        </span>
        </div>
	 </form>
 </div>
<footer th:replace="Fragment/footer :: footer">
</footer>
     
</body>
</html>